.big-buttons-block__bigger-buttons__buttons{
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid #E0E0E0;
  color: #000000;
}

.big-buttons-block__bigger-buttons__buttons_bigger-padding{
  padding: 14px 36px;
}

.big-buttons-block__bigger-buttons__buttons_smaller-padding{
  padding: 12px 20px;
}

.big-buttons-block__smaller-buttons__buttons_smaller-padding{
  padding: 10px 16px;
}

.big-buttons-block__smaller-buttons__buttons_bigger-padding{
  padding: 16px 45px;
}

.big-buttons-block__bigger-buttons__buttons_margins{
  margin-left: 20px;
}