* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #ffff;
  font-family: "Roboto", sans-serif;
}

.paige-navigation {
  width: 100%;
  justify-content: space-between;
  width: 90%;
  padding-top: 10px;
}

.navigation-menu {
  flex-wrap: wrap;
}
@media (max-width: 720px) {
  .navigation-menu {
    flex-direction: column;
  }
}

.navigation-bar a {
  font-size: 0.875rem;
}

.navigation-bar:not(:last-child) {
  margin-right: 10px;
}
@media (max-width: 720px) {
  .navigation-bar:not(:last-child) {
    margin-right: 0px;
  }
}

.first-section {
  height: 900px;
  width: 100%;
  background-image: url(../img/first-section-photo-block.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -300px;
  background-position-x: 350px;
  flex-direction: column;
}
@media (max-width: 720px) {
  .first-section {
    background-image: none;
    height: 1100px;
  }
}

.first-section-content {
  margin-left: 5%;
  max-width: 40%;
}
.first-section-content .text-font {
  margin-top: 20px;
}
@media (max-width: 720px) {
  .first-section-content {
    max-width: 100%;
    padding-right: 5%;
    padding-bottom: 10px;
    padding-top: 20px;
    text-align: center;
  }
}

.first-section-links {
  margin-top: 20px;
  flex-wrap: wrap;
}
.first-section-links .dark-button {
  margin-right: 10px;
}
.first-section-links .dark-button,
.first-section-links .light-button {
  padding: 10px 25px;
}
@media (max-width: 720px) {
  .first-section-links {
    justify-content: center;
  }
}

.second-section {
  width: 90%;
  min-height: 700px;
  justify-content: space-between;
  max-height: 1000px;
}
.second-section .title-font {
  margin-bottom: 50px;
}
.second-section .text-font {
  margin-top: 10px;
}
@media (max-width: 720px) {
  .second-section {
    flex-direction: column;
    justify-content: center;
    height: 700px;
    margin: 0px;
    margin-bottom: 70px;
    min-height: 900px;
  }
}
.second-section .feature-block {
  width: 50%;
  margin-top: 70px;
  padding: 7px;
}
.second-section .feature-block .title-font {
  margin-bottom: 0px;
  font-size: 1rem;
  line-height: 1.625rem;
}
.second-section .feature-block .text-font {
  margin-top: 10px;
  font-size: 0.75rem;
  line-height: 1.1rem;
}

.second-section-content-block {
  flex-direction: column;
  width: 40%;
  height: 900px;
  padding-top: 20%;
  padding-bottom: 20%;
}
@media (max-width: 720px) {
  .second-section-content-block {
    width: 100%;
    text-align: center;
    height: 900px;
    padding-top: 0%;
    padding-bottom: 0%;
  }
}

.second-section-image-block {
  width: 50%;
  height: 400px;
  display: block;
}
@media (max-width: 720px) {
  .second-section-image-block {
    margin: auto;
    max-height: 300px;
    max-width: 100%;
    width: auto;
  }
}

.second-section-image {
  width: 90%;
  height: auto;
  display: block;
}
@media (max-width: 720px) {
  .second-section-image {
    max-height: 300px;
    max-width: 100%;
    width: auto;
  }
}

.page-content-section {
  height: 500px;
  width: 90%;
}
.page-content-section .dark-button {
  margin-top: 25px;
}
@media (max-width: 720px) {
  .page-content-section {
    flex-direction: column;
    height: 800px;
  }
}

.page-content-image {
  display: block;
  margin-left: 5%;
  height: 300px;
  width: auto;
}
@media (max-width: 720px) {
  .page-content-image {
    margin: auto;
    max-height: 200px;
    max-width: 100%;
    width: auto;
    order: 2;
  }
}
@media (max-width: 900px) {
  .page-content-image {
    max-height: 230px;
  }
}

.page-content-image {
  max-width: 100%;
}

.page-content-text-block {
  width: 35%;
  margin-right: 0px;
  margin-left: auto;
  margin-right: 10%;
}
.page-content-text-block .dark-button {
  padding: 10px 15px;
  margin-top: 25px;
}
@media (max-width: 720px) {
  .page-content-text-block {
    width: 100%;
    margin-right: 0%;
    text-align: center;
    order: 1;
  }
}
@media (max-width: 900px) {
  .page-content-text-block {
    margin-right: 0%;
  }
}

.buy-our-products {
  width: 100%;
  background: #E7ECFF;
  mix-blend-mode: normal;
  opacity: 0.7;
  height: 800px;
  -webkit-clip-path: polygon(50% 6%, 100% 4%, 100% 100%, 0 100%, 0 3%);
          clip-path: polygon(50% 6%, 100% 4%, 100% 100%, 0 100%, 0 3%);
}
.buy-our-products .dark-button {
  padding: 10px 45px;
  margin: 20px;
}
.buy-our-products .buy-products-text-block,
.buy-our-products .title-font,
.buy-our-products .text-font,
.buy-our-products .price-block,
.buy-our-products .link-section,
.buy-our-products .black-font,
.buy-our-products .dark-button {
  opacity: 1;
}

.buy-products-text-block {
  margin: auto;
  width: 50%;
  text-align: center;
}
@media (max-width: 720px) {
  .buy-products-text-block {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.price-block {
  padding-bottom: 55px;
}
.price-block .title-font {
  font-size: 3.125rem;
  color: #222F65;
}

.link-section {
  margin-top: 35px;
  height: 50px;
}

.page-footer {
  background-color: #e7ecff;
}
.page-footer .dark-button {
  margin-top: auto;
  margin-bottom: auto;
}

.company-name {
  color: grey;
}

.footer-up-block {
  height: 130px;
}
@media (max-width: 750px) {
  .footer-up-block {
    flex-direction: column;
    text-align: center;
  }
}

.down-block {
  height: 70px;
  border-top: 2px solid #CDD1D4;
}
.down-block .navigation-bar {
  color: #929ECC;
}
.down-block .navigation-bar {
  margin-right: 20px;
}
@media (max-width: 750px) {
  .down-block {
    flex-direction: column;
    text-align: center;
  }
  .down-block .navigation-menu {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}

.social-services {
  margin-left: auto;
}
@media (max-width: 750px) {
  .social-services {
    margin-left: auto;
    margin-right: auto;
  }
}

.social-service-logo:not(:last-child) {
  margin-right: 7px;
}

.footer-up-block,
.down-block {
  width: 90%;
}

.navigation-menu,
.nav-right-link,
.paige-logo-block,
.first-section-content,
.second-section-content-block,
.second-section-image-block,
.page-content-image,
.page-content-text-block,
.company-name,
.social-services,
.page-logo {
  margin-top: auto;
  margin-bottom: auto;
}

.paige-navigation,
.navigation-menu,
.first-section,
.first-section-links,
.second-section,
.second-section-content-block,
.features,
.page-content-section,
.buy-our-products,
.footer-up-block,
.down-block,
.footer-menu {
  display: flex;
}

.paige-navigation,
.second-section,
.page-content-section,
.footer-up-block,
.down-block,
.page-logo {
  margin-left: auto;
  margin-right: auto;
}

.light-button {
  background: #ffffff;
  border-radius: 3px;
  flex-wrap: nowrap;
  padding: 5px 35px;
  border: 2px solid #111B47;
  transition-duration: 1s;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.125rem;
  text-align: center;
}
.light-button a {
  color: #111B47;
}
.light-button:hover {
  background: #111B47;
  color: #fff;
}

.dark-button {
  background: #111B47;
  border-radius: 3px;
  flex-wrap: nowrap;
  padding: 5px 35px;
  color: #ffff !important;
  transition-duration: 1s;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.125rem;
  text-align: center;
}
.dark-button a {
  color: #ffff;
}
.dark-button:hover {
  background-color: #fff;
  border: 1px solid #111B47;
  color: #111B47 !important;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  cursor: pointer;
}

.title-font {
  font-style: normal;
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 3.6rem;
  letter-spacing: 1px;
  color: #091133;
}

.text-font {
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 2rem;
  color: #505F98;
}

.black-font {
  color: #000000;
}